parameters:

database:
	freesql:
		dsn: 'mysql:host=innodb.endora.cz;dbname=sktscore'
		user: allrisk
		password: basic16
		options:
			lazy: yes
	localhost:
		dsn: 'mysql:host=127.0.0.1;dbname=sktscore'
		user: root
		password: root
		options:
			lazy: yes
