#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

constants:
	USER_AVATARS_IMG_FOLDER = user_avatars

session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\AdminFormFactory
	- App\Forms\CenterFormFactory
	- App\Forms\PersonFormFactory
	- App\Forms\PersonResultsFormFactory
	- App\Forms\BookFormFactory
	router: App\RouterFactory::createRouter

	admin: App\Model\Admin
	person: App\Model\Person
	center: App\Model\Center
	book: App\Model\Book
	book_priority: App\Model\BookPriority
	category: App\Model\Category
	distribution: App\Model\Distribution
	week: App\Model\Week