#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

constants:
	USER_AVATARS_IMG_FOLDER = user_avatars
	DB_BACKUP_FOLDER = ../backup

session:
	expiration: 14 days

services:
	- App\Model\UserManager
	- App\Model\BackupManager
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\ChangePasswordFormFactory
	- App\Forms\AdminFormFactory
	- App\Forms\CenterFormFactory
	- App\Forms\CountryFormFactory
	- App\Forms\PersonFormFactory
	- App\Forms\ChooseCentersFormFactory
	- App\Forms\PersonResultsFormFactory
	- App\Forms\BookFormFactory
	router: App\RouterFactory::createRouter

	admin: App\Model\Admin
	filters: App\Templates\Filters
	person: App\Model\Person
	center: App\Model\Center
	show_center: App\Model\ShowCenter
	country: App\Model\Country
	book: App\Model\Book
	book_priority: App\Model\BookPriority
	category: App\Model\Category
	distribution: App\Model\Distribution
	week: App\Model\Week