parameters:

database:
	remote:
		dsn: 'mysql:host=innodb.endora.cz;dbname=sktscore'
		user: bhavan
		password: basic16
		options:
			lazy: yes

	localhost:
		dsn: 'mysql:host=localhost;dbname=sktscore'
		user: root
		password: root
		options:
			lazy: yes
			
