<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SKT Score</title>

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">
    <style>
        .login-error {
            color: #CC5965;
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Změna hesla</h2>
                    <p>Z důvodu bezpečnosti si prosím změňte heslo:</p>
                    <div class="row">
                        <div class="col-lg-12">
                            {form changePasswordForm}
                                {if $form->hasErrors()}
                                    <div class="login-error">{$form->errors[0]}</div>
                                {/if}
                                <div class="form-group">
                                    {input actual_password, class => form-control, placeholder => $form['actual_password']->caption}
                                    {if $form['actual_password']->error}{label actual_password, class => "error" }{$form['actual_password']->error}{/label}{/if}
                                </div>
                                <div class="form-group">
                                    {input new_password, class => form-control, placeholder => $form['new_password']->caption}
                                    {if $form['new_password']->error}{label new_password, class => "error" }{$form['new_password']->error}{/label}{/if}
                                </div>
                                <div class="form-group">
                                    {input new_password_verify, class => form-control, placeholder => $form['new_password_verify']->caption}
                                    {if $form['new_password_verify']->error}{label new_password_verify, class => "error" }{$form['new_password_verify']->error}{/label}{/if}
                                </div>
                                {input send, class => "btn btn-primary block full-width m-b"}
                                <a n:href="Sign:out"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Odhlásit</a>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Muktakéša dás
            </div>
            <div class="col-md-6 text-right">
               <small>© 2016-{php echo date('Y')}</small>
            </div>
        </div>
    </div>
    
    <!-- Mainly scripts -->
    <script src="{$basePath}/js/jquery-2.2.3.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>

    <!-- Jquery Validate -->
    <script src="{$basePath}/js/plugins/validate/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            jQuery.extend(jQuery.validator.messages, {
                required: "Toto pole je povinné.",
                minlength: jQuery.validator.format("Prosím zadej alespoň {l}0{r} znaků."),
                equalTo: "Hesla se neshodují.",
            });

            jQuery.validator.addMethod("notEqualTo", function(value, element, param) {
                return this.optional(element) || value != $(param).val();
            }, "Zadej odlišné heslo od současného.");

            jQuery.validator.addMethod("alphaNumeric", function (value, element) {
                return this.optional(element) || /^(?=\D*\d)(?=[^a-z]*[a-z])[0-9a-z]+$/i.test(value);
            }, "Heslo musí obsahovat alespoň jedno číslo a jedno písmeno.");

            $("#frm-changePasswordForm").validate({
                rules: {
                    new_password: {
                        minlength: 6,
                        notEqualTo: "#frm-changePasswordForm-actual_password",
                        alphaNumeric: true
                    },
                    new_password_verify : {
                        equalTo : "#frm-changePasswordForm-new_password"
                    }
                }
            });
        });
    </script>
</body>
</html>