.dropdown-form {
	width: 240px;
	padding: 10px 10px 0px 10px;

	label {
		margin-right: 4px;
		font-size: 13px;
	}

	input {
		font-size: 13px;
	}

	input[type=text] {
		width: 171px;
	}

	input[type=submit] {
		margin-top: 3px;
		padding-top: 3px;
		padding-bottom: 3px;
		float: right;
	}
}

.week-input {
	font-weight: bold;
	float: left;
	height: 30px;
    margin-left: 5px;
    width: 200px;
}

.ibox-title.modified {
	padding-top: 10px;
	overflow: auto;
	
	.ibox-tools {
		width: 42px;
		float: right;
		padding-top: 4px;
	}
}

.week-number a {
	width: 21px;
	height: 20px;
	text-align: center;
	display: block;
	float: left;
	
	&:nth-child(-n+9) {
		width: 15px;
	}
}

.score-table {
	th.numeric {
		width: 8.33%;
	}

	.sort-helper {
		display: none;
	}

	.footable-row-detail-cell {
		.submit {
			width: 200px;
			margin-left: 10px;
			margin-top: 15px;
			clear: both;
			float: left;
		}

		.disabled {
			color: #676A6C;
			background-color: #F3F3F4;
		}
	}

	.footable-row-detail-name {
		display: none;
	}

	.result-detail {
		float: left;
		margin: 0 50px 20px 10px;

		tr {
			height: 30px;

			th {
				padding-right: 25px;
			}
		}

		input.number {
			width: 100px;
			height: 27px;
			margin: 2px 0 0 15px;
			padding: 3px 3px 3px 8px;
		}

		label {
			margin: 0;
		}
	}	
}

.print-button {
	margin-bottom: 0 !important;
}