{layout 'layout.latte'}
{block head}
    <!-- FooTable -->
    <link href="{$basePath}/css/plugins/footable/footable.bootstrap.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="{$basePath}/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{/block}
{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title empty">
                </div>
                <div class="ibox-content">
	               	<canvas id="distribution_chart_test" height="120"></canvas>
                </div>
            </div>
        </div>
    </div>
{/block}
{block scripts}
    <!-- ChartJS-->
    <script src="{$basePath}/js/plugins/chartJs/Chart.min.js"></script>
    
    <!-- Page-Level Scripts -->
    <script> 
        Chart.Tooltip.positioners.custom = function(elements, eventPosition) {       
            return {
                x: elements[0]._view.x,
                y: elements[0]._chart.chartArea.bottom
            };
        }

        var ctx = $("#distribution_chart_test");
        var options = {
            type: 'bar',
            data: {
                xLabels: {$weeks_chart_data['x_data_weeks'] ?: []},
                datasets: [{
                    label: {$person->name},
                    data: {$weeks_chart_data['y_data_points'] ?: []},
                    backgroundColor: "#63be7b",
                    borderColor: '#1ab394',            
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            beginAtZero: true,
                            max: 1300,
                        },  
                        scaleLabel: {
                            display: true,
                            labelString: 'book points'
                        },  
                    }]
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    xAlign: 'center',
                    yAlign: 'top',
                    position: 'custom',
                    callbacks: {
                        title: function(tooltipItem, data){
                            var xLabel = tooltipItem[0].xLabel
                            var xLabel_parts = xLabel.split("/");
                            return "Rok " + xLabel_parts[0] + " - týden " + xLabel_parts[1];
                        },
                        label: function(tooltipItem, data) {
                            return " " + tooltipItem.yLabel + " bodů";
                        }
                    }
                }
            }
        };

        var weeksChart = new Chart($(ctx), options);
        var padding_bottom = 50 - (weeksChart.height - weeksChart.chartArea.bottom);
        weeksChart.destroy();
        options.options.layout.padding.bottom = padding_bottom;
        weeksChart = new Chart($(ctx), options);
        
    </script>
{/block}