<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{block title|striptags}{/block} | SKT Score</title>

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{$basePath}/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    
    <script src="{$basePath}/js/jquery-2.2.3.js"></script>
	{block head}
	{/block}
</head>
<body>
    <div id="wrapper">
	    <nav class="navbar-default navbar-static-side" role="navigation">
	        <div class="sidebar-collapse">
	            <ul class="nav metismenu" id="side-menu">
	                <li class="nav-header">
	                    <div class="dropdown profile-element">
		                    <span><img alt="image" class="img-circle" src="{$basePath}/images/{=USER_AVATARS_IMG_FOLDER}/{$user->identity->image}" /></span>
	                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
	                            <span class="clear">
	                            	<span class="block m-t-xs"><strong class="font-bold">{$user->identity->fullname}</strong></span>
	                            	<span class="text-muted text-xs block">Administrátor <b class="caret"></b></span>
	                            </span>
	                        </a>
	                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                            <li><a href="profile.html">Profil</a></li>
	                            <li class="divider"></li>
	                            <li><a n:href="Sign:out">Odhlásit</a></li>
	                        </ul>
	                    </div>
	                    <div class="logo-element">SKT</div>
	                </li>
	                <li n:class="$presenter->isLinkCurrent('Result:*') ? active">
	                    <a n:href="setter"><i class="fa fa-th-large"></i><span class="nav-label">Výsledky</span><span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level collapse">
	                        <li n:class="$presenter->isLinkCurrent('Result:setter') ? active"><a n:href="Result:setter, $this_week, $this_year">Zadávání</a></li>
	                        <li n:class="$presenter->isLinkCurrent('Result:personsOverview') ? active"><a n:href="Result:personsOverview, $this_week, $this_year, $this_week, $this_year">Osoby</a></li>
                            <li n:class="$presenter->isLinkCurrent('Result:booksOverview') ? active"><a n:href="Result:booksOverview, $this_week, $this_year, $this_week, $this_year">Knihy</a></li>
	                    </ul>
	                </li>
	                <li n:class="$presenter->isLinkCurrent('Person:*') ? active">
	                    <a n:href="add"><i class="fa fa-child"></i><span class="nav-label">Osoby</span><span class="fa arrow"></span></a>
	                    <ul class="nav nav-second-level collapse">
	                        <li n:class="$presenter->isLinkCurrent('Person:add') ? active"><a n:href="Person:add">Přidat</a></li>
	                        <li n:class="$presenter->isLinkCurrent('Person:list') ? active"><a n:href="Person:list">Přehled</a></li>
	                    </ul>
	                </li>
					<li n:class="$presenter->isLinkCurrent('Book:*') ? active">
	                    <a n:href="Book:list"><i class="fa fa-book"></i><span class="nav-label">Knihy</span><span class="fa arrow"></a>
	                    <ul class="nav nav-second-level collapse">
	                        <li n:class="$presenter->isLinkCurrent('Book:add') ? active"><a n:href="Book:add">Přidat</a></li>
	                        <li n:class="$presenter->isLinkCurrent('Book:list') ? active"><a n:href="Book:list">Přehled</a></li>
	                    </ul>
	                </li>
                    <li n:if="$user->isInRole('superadmin')" n:class="$presenter->isLinkCurrent('Center:*') ? active">
                        <a n:href="Center:list"><i class="fa fa-institution"></i><span class="nav-label">Centra</span><span class="fa arrow"></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Center:add') ? active"><a n:href="Center:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Center:list') ? active, $presenter->isLinkCurrent('Center:edit') ? active"><a n:href="Center:list">Přehled</a></li>
                        </ul>
                    </li>
                    <li n:if="$user->isInRole('superadmin')" n:class="$presenter->isLinkCurrent('Admin:*') ? active">
                        <a n:href="Admin:list"><i class="fa fa-users"></i><span class="nav-label">Správci</span><span class="fa arrow"></a>
                        <ul class="nav nav-second-level collapse">
                            <li n:class="$presenter->isLinkCurrent('Admin:add') ? active"><a n:href="Admin:add">Přidat</a></li>
                            <li n:class="$presenter->isLinkCurrent('Admin:list') ? active, $presenter->isLinkCurrent('Admin:edit') ? active"><a n:href="Admin:list">Přehled</a></li>
                        </ul>
                    </li>
	            </ul>
	        </div>
	    </nav>
        <div id="page-wrapper" class="gray-bg">
			{include main}
			<div class="footer">
            	<div class="pull-right">300 osob, rozdáno <strong>12000 knih</strong>.</div>
				<div><strong>Copyright</strong> Prabhupád Bhavan &copy; 2016</div>
			</div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{$basePath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>    
    <script src="{$basePath}/js/inspinia.js"></script>
    <script src="{$basePath}/js/plugins/pace/pace.min.js"></script>

    <!-- Toastr script -->
    <script src="{$basePath}/js/plugins/toastr/toastr.min.js"></script>

    <script src="{$basePath}/js/jquery.nette.js"></script>
    <script src="{$basePath}/js/main.js"></script>

    {snippet flashes}
    <script>
    {foreach $flashes as $flash}
    	toastr.{$flash->type|noescape}({$flash->message});
    {/foreach}
    </script>
    {/snippet}
	{block scripts}
	{/block}
</body>

</html>
