@import "inspinia.css";
.row.padding-bottom {
  padding-bottom: 30px;
}
.nav-header .img-circle {
  width: 64px;
  height: 64px;
}
.metismenu .fa {
  margin-left: 2.5px;
}
ol.breadcrumb li.active {
  font-weight: bold;
}
.page-heading.slim {
  height: 66px;
}
.nopadding-right {
  padding-right: 0;
}
.footable thead th.wide,
.footable tfood th.wide {
  width: 50%;
}
.main-ajax-spinner {
  opacity: 0;
  top: 5px;
  left: 3px;
  transition: 0.6s;
}
.main-ajax-spinner.visible {
  opacity: 1;
  transition: 0.6s;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nopadding {
  padding: 0;
}
.relative {
  position: relative;
}
.table th.controls {
  width: 46px;
}
.table td.controls a {
  float: left;
}
.table td.controls a:not(:last-child) {
  margin-right: 3px;
}
#fountainG {
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
  width: 234px;
  height: 28px;
  margin: auto;
}
.fountainG {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}
#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}
#fountainG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}
#fountainG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
#fountainG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}
#fountainG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}
#fountainG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}
#fountainG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
#fountainG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}
@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -o-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -ms-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -webkit-transform: scale(0.3);
    background-color: #ffffff;
  }
}
@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgba(0, 0, 0, 0.31);
  }
  100% {
    -moz-transform: scale(0.3);
    background-color: #ffffff;
  }
}
.ibox-title .ibox-select {
  width: 200px;
  height: 25px;
  margin-top: -3px;
  margin-left: 10px;
  padding: 0;
  padding-left: 3px;
  float: left;
}
.ibox-title.empty {
  padding: 0;
  min-height: 0;
}
label.error {
  margin-bottom: 0px;
}
.i-checks .radiolist label {
  cursor: pointer;
  line-height: 20px;
}
.i-checks label {
  white-space: nowrap;
}
.icheckbox_square-green {
  background-color: #FFFFFF !important;
  margin-right: 5px !important;
}
.iradio_square-green {
  margin-right: 5px !important;
  margin-left: 15px !important;
}
.form-group.padding-radio {
  padding-top: 29px;
}
.form-group.padding-checkbox {
  padding-top: 14px;
}
.form-control.tiny {
  width: 100px;
}
.form-control.medium {
  width: 300px;
}
.form-control.large {
  width: 400px;
}
.form-control-static {
  font-size: 14px;
}
.dropdown-form {
  width: 240px;
  padding: 10px 10px 0px 10px;
}
.dropdown-form label {
  margin-right: 4px;
  font-size: 13px;
}
.dropdown-form input {
  font-size: 13px;
}
.dropdown-form input[type=text] {
  width: 171px;
}
.dropdown-form input[type=submit] {
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: right;
}
.week-input {
  font-weight: bold;
  float: left;
  height: 30px;
  margin-left: 5px;
  width: 200px;
}
.ibox-title.modified {
  padding-top: 10px;
}
.ibox-title.modified .ibox-tools {
  width: 50px;
  float: right;
  padding-top: 4px;
}
.week-number a {
  width: 21px;
  height: 20px;
  text-align: center;
  display: block;
  float: left;
}
.week-number a:nth-child(-n+9) {
  width: 15px;
}
#resultsTable .sort-helper {
  display: none;
}
#resultsTable .footable-row-detail-cell .submit {
  width: 200px;
  margin-left: 10px;
  margin-top: 15px;
  clear: both;
  float: left;
}
#resultsTable .footable-row-detail-cell .disabled {
  color: #676A6C;
  background-color: #F3F3F4;
}
#resultsTable .footable-row-detail-name {
  display: none;
}
#resultsTable .result-inputs {
  float: left;
  margin: 0 50px 20px 10px;
}
#resultsTable .result-inputs tr {
  height: 30px;
}
#resultsTable .result-inputs tr th {
  padding-right: 25px;
}
#resultsTable .result-inputs input.number {
  width: 100px;
  height: 27px;
  margin: 2px 0 0 15px;
  padding: 3px 3px 3px 8px;
}
#resultsTable .result-inputs label {
  margin: 0;
}
