@import "inspinia.css";
.row.padding-bottom {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .row .col-lg-12 {
    padding: 0;
  }
}
.nav-header .img-circle {
  width: 64px;
  height: 64px;
}
.metismenu .fa {
  margin-left: 2.5px;
}
.metismenu .fa.fa-child {
  margin-left: 4px;
}
ol.breadcrumb li.active {
  font-weight: bold;
}
.page-heading.slim {
  height: 66px;
}
.nopadding-right {
  padding-right: 0;
}
.main-ajax-spinner {
  opacity: 0;
  top: 5px;
  left: 3px;
  transition: 0.6s;
}
.main-ajax-spinner.visible {
  opacity: 1;
  transition: 0.6s;
}
.nopadding {
  padding: 0;
}
.relative {
  position: relative;
}
.table th.controls {
  width: 54px;
}
.table td.controls a {
  font-size: 16px;
  margin-bottom: -10px;
  float: left;
  color: #2F4050;
}
.table td.controls a.row-delete {
  font-size: 18px;
}
.table td.controls a:not(:last-child) {
  margin-right: 3px;
}
.ibox-content {
  min-height: 200px;
  overflow-x: scroll;
}
.modal-lg {
  width: 1000px;
}
.panel-body .panel-heading {
  padding: 0;
}
.panel-body .panel-title {
  margin-top: 0;
  padding-top: 5px;
  font-weight: normal;
}
.panel-body .panel-title a {
  display: block;
  width: 100%;
  padding: 5px 15px 10px;
}
.panel-body .panel-group {
  margin-bottom: 0;
}
.panel-body .panel-group .panel-default.float {
  float: left;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.panel-body .panel-filler {
  line-height: 0px;
  margin-top: -10px;
  visibility: hidden;
}
.number-integer {
  width: 30px;
  text-align: right;
  float: left;
}
.number-delimiter {
  float: left;
}
.number-empty {
  width: 28px;
  text-align: right;
}
.number-decimal {
  float: left;
  color: rgba(103, 106, 108, 0.6);
}
.main-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}
.table-tr-spinner {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.ibox-title .ibox-select {
  width: 200px;
  height: 25px;
  margin-top: -3px;
  margin-left: 10px;
  padding: 0;
  padding-left: 3px;
  float: left;
}
.ibox-title.empty {
  padding: 0;
  min-height: 0;
}
label.error {
  margin-bottom: 0px;
}
.week-input-container {
  width: 328px;
  float: left;
}
.week-input-container .week-input {
  font-weight: bold;
  float: left;
  height: 30px;
  width: 175px;
}
.week-input-container .week-input-label {
  text-align: right;
  padding-right: 5px;
}
.week-input-container .btn {
  width: 40px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 2px;
}
.week-input-container .btn.btn-left {
  border-radius: 3px 0 0 3px;
  border-right: 0;
  float: left;
}
.week-input-container .btn.btn-right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}
label.tiny-label {
  width: 41px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}
.i-checks .radiolist label {
  cursor: pointer;
  line-height: 20px;
}
.i-checks label {
  white-space: nowrap;
}
textarea.form-control {
  border: 1px solid #e5e6e7;
}
textarea.form-control.import-source {
  font-family: "Courier New";
  font-size: 13px;
  width: 700px;
  height: 300px;
}
.icheckbox_square-green {
  background-color: #FFFFFF !important;
  margin-right: 5px !important;
}
.iradio_square-green {
  margin-right: 5px !important;
  margin-left: 15px !important;
}
.form-group.padding-radio {
  padding-top: 29px;
}
.form-group.padding-checkbox {
  padding-top: 14px;
}
.form-control.tiny {
  width: 100px;
}
.form-control.small {
  width: 200px;
}
.form-control.medium {
  width: 300px;
}
.form-control.large {
  width: 400px;
}
.form-control.in-table {
  height: 28px;
  padding: 1px 5px;
  margin: 5px;
}
.form-control-static {
  font-size: 14px;
}
.upload-control {
  padding: 0;
  border: 0;
}
.footable td.center {
  text-align: center;
}
.footable td.left {
  text-align: left;
  padding-left: 10px;
}
.footable td.right {
  text-align: right;
  padding-right: 10px;
}
.footable td.bold {
  font-weight: bold;
}
.footable td.td-selectable {
  padding-top: 6px;
  padding-bottom: 5px;
}
.footable thead th,
.footable tfood th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footable thead th.wide,
.footable tfood th.wide {
  width: 30% !important;
}
.footable thead th.medium,
.footable tfood th.medium {
  width: 90px;
}
.footable thead th.th-small,
.footable tfood th.th-small {
  width: 75px !important;
}
.footable thead th.th-smaller,
.footable tfood th.th-smaller {
  width: 65px !important;
}
.footable thead th.thin,
.footable tfood th.thin {
  width: 10px;
}
.footable thead tr.footable-filtering .form-inline .form-group > select,
.footable tfood tr.footable-filtering .form-inline .form-group > select {
  margin-top: -5px;
}
.footable .switch.active {
  margin-left: 8px;
}
.footable .onoffswitch-label {
  margin-bottom: -2px;
}
.footable .footable-detail-row .ajax-loading {
  display: block;
  margin: 0 auto;
}
tr.footable-detail-row .result-detail {
  margin: 0 20px 0px 15px;
}
tr.footable-detail-row .result-detail tr {
  height: 30px;
}
tr.footable-detail-row .result-detail tr th {
  width: 250px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}
tr.footable-detail-row .result-detail tr td {
  width: 100px;
}
.dropdown-form {
  width: 240px;
  padding: 10px 10px 0px 10px;
}
.dropdown-form label {
  margin-right: 4px;
  font-size: 13px;
}
.dropdown-form input {
  font-size: 13px;
}
.dropdown-form input[type=text] {
  width: 171px;
}
.dropdown-form input[type=submit] {
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  float: right;
}
.ibox-title.modified {
  padding-top: 10px;
  overflow: auto;
}
.ibox-title.modified .ibox-tools {
  width: 42px;
  float: right;
  padding-top: 4px;
}
.week-number a {
  width: 21px;
  height: 20px;
  text-align: center;
  display: block;
  float: left;
}
.week-number a:nth-child(-n+9) {
  width: 15px;
}
.footable .footable-row-detail-cell:hover {
  background-color: #FFFFFF;
}
.score-table th.th-center {
  width: 200px;
}
.score-table th.category {
  width: 8.33%;
}
.score-table th.center-title {
  width: 70px;
}
.score-table tbody td.footable-first-visible {
  cursor: pointer;
}
.score-table td.empty {
  font-size: 14px;
  text-align: center;
}
.score-table td.empty:hover {
  background-color: #F9F9F9;
}
.score-table .sort-helper {
  display: none;
}
.score-table .footable-detail-row .submit {
  width: 200px;
  margin-left: 15px;
}
.score-table .footable-detail-row .disabled {
  color: #676A6C;
  background-color: #F3F3F4;
}
.score-table .footable-row-detail-name {
  display: none;
}
.score-table .result-detail {
  float: left;
  margin: 0 20px 0px 15px;
}
.score-table .result-detail tr {
  height: 30px;
}
.score-table .result-detail tr th {
  width: 250px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
  display: block;
  float: left;
}
.score-table .result-detail tr th label {
  width: 250px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.score-table .result-detail tr td {
  width: 100px;
  display: block;
  float: left;
}
.score-table .result-detail input.number {
  width: 100px;
  height: 27px;
  margin: 2px 0 0 0;
  padding: 3px 3px 3px 8px;
}
.score-table .result-detail label {
  margin: 0;
}
.score-table tfoot .tfoot-button {
  margin-bottom: 0;
}
.print-button {
  margin-bottom: 0 !important;
}
.score-tableprint {
  width: 100%;
  max-width: 880px;
  background-color: #FFFFFF;
  border: 1px #7D7D7D solid;
}
.score-tableprint caption {
  font-size: 26px;
  color: #676a6c;
  text-align: center;
  margin: 5px 0 10px 0;
}
.score-tableprint caption input.editable_title {
  width: 100%;
  border: 0;
  text-align: center;
}
.score-tableprint thead {
  border-bottom: 1px #7D7D7D solid;
}
.score-tableprint tbody tr {
  border-bottom: 1px #7D7D7D dotted;
}
.score-tableprint th,
.score-tableprint td {
  text-align: center;
}
.score-tableprint th.position-column {
  width: 30px;
}
.score-tableprint th.name-column {
  width: 215px;
  text-align: left;
  padding-left: 15px;
}
.score-tableprint th.center-column {
  width: 155px;
  text-align: left;
  padding-left: 15px;
}
.score-tableprint th.score-column {
  width: 50px;
}
.score-tableprint th.mahabig-column {
  width: 90px;
}
.score-tableprint th.points-column {
  width: 80px;
}
.score-tableprint td.ellipsis {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.score-tableprint tfoot {
  font-weight: bold;
  border-top: 1px #7D7D7D solid;
}
.score-tableprint tfoot .total {
  text-align: left;
  padding-left: 10px;
}
.tableprint_delimiter {
  height: 30px;
}
#tableprint_centers {
  margin-bottom: 10px;
}
